* {
    box-sizing: border-box;
}

body {
   margin: 0; 
}

.nav {
    background-color: #03fcad;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    
}

.site-title {
    font-size: 2rem;
    font-weight: bold;

}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color:#03cefc;
    text-decoration: underline;

}

.nav li:hover {
    background-color: #777;
}

.search-container {
    float: right;
    margin-top: 15px;
}

.search-container button {
    /* float: right;
    padding: 5px;
    background: #ddd;
 
    border: none;
    cursor: pointer; */
    float: right;
    color: white;
    font-weight: bold;
    background-color: red;
    padding:5px 5px;
  
    border: none;
    height: 30px;
  }

.search-container button:hover {
    background: #ccc;
}

.img-svg-loupe{
    position: relative;
    height: 22px;
    padding-bottom: 5px;
  }